<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <p>In hopes that you open this tab; embedded here is my love thought<br>
        I dream about the days i will fall asleep beside you, wake up to your smile,
        listen to your lovely voice
        <code style="color: red;">....<i>Stack overflow<br>
          the brain is inlove but cannot compose a simple love messsage<br>
          trace: heart.js ln 12:31<br>
          trace: brain.js ln 2:76<br>
          trace: hand.js ln 10:20
        </i></code>
      </p>
    </ion-col>
  </ion-row>

</ion-content>
