<!-- <ion-header >
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="img-background">
<ion-grid fixed>
  <!-- Picture and name modal-->
  <ion-row>
    <ion-col size="12" size-md="8" offset-md="2" class="user-detail-modal">
     <ion-row class="ion-align-item-center">
       <ion-col size="8" >
         <p>Olorunfemi</p>
         <small>Welcome</small>
       </ion-col>
       <ion-col size="4" class="ion-align-self-center ion-float-right">
         <ion-avatar class="user-avatar">
           <img [src]="'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII='" />
         </ion-avatar>
       </ion-col>
     </ion-row>
    </ion-col>
  </ion-row>

  <!-- Wallet modal -->
  <ion-row class="ion-margin-top" >
    <ion-col size="12" size-md="8" offset-md="2" class="wallet-modal">
      <ion-row class="ion-align-item-center">
        <ion-col size="8" >
          <h5>Your Wallet</h5>
          <p>Balance: <span>&#8358; 5,000.00</span></p>
          </ion-col>
        <ion-col size="4" class="ion-align-self-center ion-float-right">
          <ion-button size="small" expand="full"  shape="round" color="success" (click)="gotoPage(fundWalletUrl)">
            fund wallet
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Menu -->
  <ion-row class="ion-margin-top ion-align-item-center ion-justify-content-center">
    <ion-col size="12"  offset-md="2">
      <ion-row class="ion-margin-top ion-align-item-center ion-justify-content-center">
        <ion-col size="3" *ngFor="let menu of menus" class="menu-card  ion-margin" (click)="gotoPage(menu.url)">
          <div class="ion-text-center">
            <div>
              <ion-icon [icon]="menu.icon"></ion-icon>
            </div>
            <p>{{menu.title}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
